@import url('variables.css');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.content h1 {
    margin: 0 0 1rem;
}

.pokemons_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: var(--background-grass-type);
    color: var(--text-color-white);
}

.pokemon .number{
    color: var(--text-color-black);
    opacity: var(--text-opacity);
    text-align: right;
}

.pokemon .detail img{
    max-width: 100%;
    height: var(--gutter);
    align-self: flex-end;
}