@import url('variables.css');

* {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    box-sizing: var(--box-sizing);
}
body {
    background-color: var(--color-grey);
}

.content {
    padding: var(--padding-content);
    background-color: var(--color-white);
    height: var(--height-full);
    width: var(--width-full);
}
