@import url('variables.css');

.pagination {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-row);
    justify-content: var(--align-center);
    align-items: var(--align-center);
    width: var(--btn-width-full);

    #loadNext {
        border: var(--list-type-none);
        border-radius: var(--border-radius-button);
        padding: var(--padding-button);
        margin: var(--margin-button);
        color: var(--color-white);
        background-color: var(--color-button);
        cursor: pointer;
        font-size: var(--font-size-button);
    }

    .desativado {
        cursor: not-allowed !important;
    }
}

.pokemon_list {
    list-style: var(--list-type-none);
    padding: var(--padding-zero);
    margin: var(--margin-zero);
    display: var(--display-grid);
    grid-template-columns: var(--grid-one-column);
}

.pokemon {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    margin: var(--margin-pokemon);
    padding: var(--padding-pokemon);
    border-radius: var(--border-radius);
}

.pokemon .number {
    color: var(--color-black);
    opacity: var(--text-opacity);
    text-align: var(--text-align-right);
    font-size: var(--font-size-poketype);
}

.pokemon .name {
    color: var(--color-white);
    margin-bottom: var(--margin-zero);
}

.pokemon .detail {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-row);
    align-items: var(--align-center);
    justify-content: var(--justify-space-between);
}

.pokemon .detail .types {
    list-style: var(--list-type-none);
    padding: var(--padding-types);
    margin: var(--margin-types);
}

.pokemon .detail .types .type {
    color: var(--text-color-white);
    padding: var(--padding-type);
    margin: var(--margin-type);
    text-align: var(--align-center);
    font-size: var(--font-size-poketype);
    border-radius: var(--border-radius);
    filter: brightness(var(--brightness));
}

.pokemon .detail img {
    max-width: var(--img-width-full);
    height: var(--half-gutter);
    align-self: var(--align-flex-end);
}

.normal {
    background-color: var(--background-type-normal);
}
.fire {
    background-color: var(--background-type-fire);
}
.grass {
    background-color: var(--background-type-grass);
}
.water {
    background-color: var(--background-type-water);
}
.electric {
    background-color: var(--background-type-electric);
}
.ice {
    background-color: var(--background-type-ice);
}
.ground {
    background: linear-gradient(to bottom, var(--background-type-ground-upper) 50%, var(--background-type-ground-down) 50%);
}
.flying {
    background: linear-gradient(to bottom, var(--background-type-flying-upper) 50%, var(--background-type-flying-down) 50%);
}
.poison {
    background-color: var(--background-type-poison);
}
.fighting {
    background-color: var(--background-type-fighting);
}
.psychic {
    background-color: var(--background-type-psychic);
}
.dark {
    background-color: var(--background-type-dark);
}
.rock {
    background-color: var(--background-type-rock);
}
.bug {
    background-color: var(--background-type-bug);
}
.ghost {
    background-color: var(--background-type-ghost);
}
.steel {
    background-color: var(--background-type-steel);
}
.dragon {
    background: linear-gradient(to bottom, var(--background-type-dragon-upper) 50%, var(--background-type-dragon-down) 50%);
}
.fairy {
    background-color: var(--background-type-fairy);
}
