:root {
    --font-family: 'M PLUS Rounded 1c','Roboto', sans-serif;
    --font-size-poketype: 0.8rem;
    --font-size-button: 1.1rem;
    --font-weight: 700;
    --box-sizing: border-box;
    --list-type-none: none;
    --height-full: 100vh;
    --width-full: 100vw;
    --img-width-full: 100%;
    --btn-width-full: 100%;
    --search-width-full: 100%;
    --cursor-type: pointer;
    --border-radius: 1rem;
    --border-none: none;
    --border-radius-button: 5px;
    --border-radius-search: 5px;

    --search-img-width: 2.5rem;
    --search-img-height: 2.5rem;

    --display-grid: grid;
    --grid-one-column: 1fr;
    --grid-two-column: 1fr 1fr;
    --grid-three-column: 1fr 1fr 1fr;
    --grid-four-column: 1fr 1fr 1fr 1fr;

    --display-flex: flex;
    --flex-direction-row: row;
    --flex-direction-column: column;

    --align-flex-end: flex-end;
    --align-center: center;
    --justify-space-between: space-between;

    --padding-content: 1rem;
    --padding-zero: 0;
    --padding-pokemon: 1rem;
    --padding-button: 0.75rem 1.25rem 0.675rem;
    --padding-type: 0.25rem 0.5rem;

    --margin-content-h1: 0 0 1rem;
    --margin-zero: 0;
    --margin-pokemon: 0.5rem;
    --margin-button: 1.5rem 0 0.5rem;
    --margin-type: 0.25rem 0;
    --margin-mQuery-lg: 1rem auto;
    
    --text-opacity: 0.3;
    --text-align-right: right;
    --brightness: 1.2;
    
    --gutter: 160px;
    --gutter-2x: calc(var(--gutter) * 2);
    --gutter-4x: calc(var(--gutter) * 4);
    --half-gutter: calc(var(--gutter) / 2);
    --quarter-gutter: calc(var(--gutter) / 4);
    
    --height-mQuery-lg: auto;
    --mQuery-width-xsm: 576px;
    --mQuery-width-sm: 576px;
    --mQuery-width-md: 768px;
    --mQuery-width-lg: 992px;
    --mQuery-width-xl: 1200px;
    --mQuery-width-xxl: 1400px;

    --color-grey: #f6f8fc;
    --color-grey-search: #ccc;
    --color-black: #000;
    --color-button: #313131;
    --color-white: #fff;
    
    --background-transparent: transparent;
    --background-type-normal: #A4ACAF;
    --background-type-fire: #FC7D24;
    --background-type-grass: #9BCB50;
    --background-type-water: #4593C4;
    --background-type-electric: #EED534;
    --background-type-ice: #51C4E7;
    --background-type-ground-upper: #F7DE3F;
    --background-type-ground-down: #AA9742;
    --background-type-flying-upper: #3DC7EF;
    --background-type-flying-down: #BDB9B8;
    --background-type-poison: #B97EC9;
    --background-type-fighting: #D56723;
    --background-type-psychic: #F365B8;
    --background-type-dark: #707070;
    --background-type-rock: #A28B21;
    --background-type-bug: #729F3E;
    --background-type-ghost: #7C62A3;
    --background-type-steel: #9EB7B8;
    --background-type-dragon-upper: #53A4CF;
    --background-type-dragon-down: #F06E57;
    --background-type-fairy: #FDB8E9;
}